<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression" parallel="false" preserve-order="true">
    <listeners>
        <listener class-name="listeners.SuiteListener"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

    <test name="sampleTests">
        <classes>
            <class name="TestTest"/>
            <class name="ContactWithCircleKTests"/>
        </classes>
    </test>
</suite>
